<%- include('shared/header.ejs') -%>
<%- include('shared/nav.ejs') -%>
<main class="thank_you">
    <h2>Thank you, <%= name %></h2>
    <p>Your request has been successfully submitted</p>
    <p>Further updates will be sent to <%= email %></p>
</main>
<%- include('shared/footer.ejs') -%>